<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= title ? `${title} | ` : '' %>开发者工具 @ 王晨旭的网站</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="manifest" href="<%=isIndex ? './' : '../'%>manifest.json">
	<link rel="stylesheet" href="<%=isIndex ? './' : '../'%>index.css">
	<script type="module" src="<%=isIndex ? './' : '../'%>index.js"></script>
	<meta name="theme-color" content="#08F">
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<%if(isInit || isPWA || isTool) {%><meta name="robots" content="noindex"><%}%>
	<%if(isPWA || isTool) {%><style>main{max-width: none;}</style><%}%>
</head>
<body>
	<%if(!isPWA && !isTool){%><header>
		<div>
			<a href="<%=isIndex ? './' : '../'%>" id="site-logo"><img src="<%=isIndex ? './' : '../'%>logo/logo.svg">开发者工具</a>
			<nav><a target="_blank" href="http://www.wangchenxu.net/">博客</a></nav>
		</div>
	</header><%}%>
	<main id="main">
		<%if(!isTool){%><div id="tool-bar">
			<%if(!isPWA){%><a class="btn" href="#main">#</a><%}%>
			<a class="btn" href="<%=isIndex ? './' : '../'%>" data-xu-tool-id="index">首页</a>
			<div id="title"><%= title || '开发者工具' %></div>
		</div><%}%>
		<%if (isIndex) {%><ul class="main" id="home-index"><%for (let it of list) {%>
				<li><a href="./<%=it.id%>/" data-xu-tool-id="<%=it.id%>" title="<%=it.title%>"><h2><%=it.title%></h2><p><%=it.explain%></p></a></li>
		<%}%></ul><%} else {%><xutool-xutool class="main">
			<div class="loadding-box">
				<div class="loadding"></div>
				<p>如果长时间未完成加载</p>
				<p>可能是浏览器版本太低</p>
				<p>请升级浏览器后再试</p>
			</div>
		</xutool-xutool><%}%>
		<%if(isPWA){%><div class="xutool-copyright">
			<a href="http://www.beian.miit.gov.cn" target="_blank">鲁ICP备16012041号</a>
			&copy;2018- 2019
			<a href="http://www.wangchenxu.net" target="_blank">王晨旭的网站</a>
			<script src="//s19.cnzz.com/stat.php?id=1274150741&show=pic"></script>
		</div><%}%>
		<%if(isTool){%><div class="xutool-copyright">
			此功能由<a target="_blank" href="http://tool.wangchenxu.net/">开发者工具</a>提供
			&copy;2018- 2019
			<script src="//s19.cnzz.com/stat.php?id=1274150741&show=pic"></script>
		</div><%}%>
	</main>
	<%if(!isPWA && !isTool){%><footer>
		<div>
			<a href="http://www.beian.miit.gov.cn" target="_blank">鲁ICP备16012041号</a>
			&copy;2018- 2019
			<a href="http://www.wangchenxu.net" target="_blank">王晨旭的网站</a>
			<script src="//s19.cnzz.com/stat.php?id=1274150741&show=pic"></script>
		</div>
	</footer><%}%>
</body>
</html>