<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= page.title ? `${page.title} | ` : '' %>Tools @ Fierflame.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="manifest" href="<%=page.isIndex ? './' : '../'%>manifest.json">
	<link rel="stylesheet" href="<%=page.isIndex ? './' : '../'%>index.css">
	<script type="module" src="<%=page.isIndex ? './' : '../'%>index.js"></script>
	<meta name="theme-color" content="#08F">
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<%if(page.isInit || page.isPWA || page.isTool) {%><meta name="robots" content="noindex"><%}%>
	<%if(page.isPWA || page.isTool) {%><style>main{max-width: none;}</style><%}%>
</head>
<body>
	<%if(!page.isPWA && !page.isTool){%><header>
		<div>
			<a href="<%=page.isIndex ? './' : '../'%>" id="site-logo"><img src="<%=page.isIndex ? './' : '../'%>logo/logo.svg">开发者工具</a>
			<nav><a target="_blank" href="http://www.fierflame.com/">博客</a></nav>
		</div>
	</header><%}%>
	<main id="main">
		<%if(!page.isTool){%><div id="tool-bar">
			<%if(!page.isPWA){%><a class="btn" href="#main">#</a><%}%>
			<a class="btn" href="<%=page.isIndex ? './' : '../'%>" data-xu-tool-id="index">首页</a>
			<div id="title"><%= page.title || '开发者工具' %></div>
		</div><%}%>
		<%if (page.isIndex) {%><ul class="main" id="home-index"><%for (let it of page.list) {%>
				<li><a href="./<%=it.id%>/" data-xu-tool-id="<%=it.id%>" title="<%=it.name%>"><h2><%=it.name%></h2><p><%=it.description%></p></a></li>
		<%}%></ul><%} else {%><xutool-xutool class="main">
			<div class="loadding-box">
				<div class="loadding"></div>
				<p>如果长时间未完成加载</p>
				<p>可能是浏览器版本太低</p>
				<p>请升级浏览器后再试</p>
			</div>
		</xutool-xutool><%}%>
		<%if(page.isPWA){%><div class="xutool-copyright">
			<!-- <a href="http://www.beian.miit.gov.cn" target="_blank">鲁ICP备16012041号</a> -->
			&copy;2018- <%= new Date().getFullYear(); %>
			<a href="http://www.fierflame.com" target="_blank">Fierflame</a>
			<script src="//s19.cnzz.com/stat.php?id=1274150741&show=pic"></script>
		</div><%}%>
		<%if(page.isTool){%><div class="xutool-copyright">
			此功能由<a target="_blank" href="http://tool.fierflame.com/">Fierflame.com</a>提供
			&copy;2018- <%= new Date().getFullYear(); %>
			<script src="https://v1.cnzz.com/z_stat.php?id=1279386134&show=pic"></script>
		</div><%}%>
	</main>
	<%if(!page.isPWA && !page.isTool){%><footer>
		<div>
			&copy;2018- <%= new Date().getFullYear(); %>
			<a href="http://www.fierflame.com" target="_blank">Fierflame</a>
			<script src="https://v1.cnzz.com/z_stat.php?id=1279386134&show=pic"></script>
		</div>
	</footer><%}%>
</body>
</html>
